*{
    margin: 0;
    padding: 0;
}
.wheather{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: coral;
}
.containner{

    border: 2px solid gray;
    border-radius: 1rem;
    height:auto;
    width:80%;
    background: #eaeaea;
    padding:10px 80px 0 80px ;
}

.containner input{
    border-radius: 10px;
    border: 0;
    outline: 0;
    background: #eaea;
    height: 2rem;
    padding: 5px;
    width: 100%;
}
button{
    border: 0;
    outline: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f;
    width: 25%;
    height: 2rem;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}
.detail{
    display: grid;
    grid-template-rows: repeat(auto-fit,minmax(20px,1fr));
    gap: 10px;
    width: 100%;
}
.detail h1,h2{
    margin-top: 10px;
}