*{
    margin: 0;
    padding: 0;
}

.nav{

display: flex;
align-items: center;
justify-content: space-between;
    height: 60px;
    width: 100vw;
   background-color: gray;
  
}
ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;

}
.navbar .link{
    color: rgb(1, 31, 28);
    text-decoration: none;
}
.logo .link{
    text-decoration: none;
    color: rgb(88, 19, 19);
    font-size: 2rem;
    margin-left: 40px;
}
.active{
    font-weight: 900;
}